.header-is-mobile .header-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.header-app-name {
    margin-left: 8px;
  }
  
  .header-sidenav-container {
    flex: 1;
  }
  
  .header-is-mobile .header-sidenav-container {
    flex: 1 0 auto;
  }
  