<div class="header-container">
  <div class="first-row">
    <button mat-icon-button (click)="output.emit(true)"><mat-icon>menu</mat-icon></button>
    <form [formGroup]="authForm" class ="first-row_loggin-form">
      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="name">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="pass">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
  
      <button mat-raised-button>Entrar</button>
    </form>
    <div class="first-row_container-flag">
      <button mat-mini-fab color="primary" matTooltip="Cambiar a español" class="first-row_container-flag_button-spain" aria-label="Bandera España">
      </button>
      <button mat-mini-fab color="primary" matTooltip="Cambiar a gallego" class="first-row_container-flag_button-galicia" aria-label="Bandera Galicia">
      </button>
    </div>
  </div>
  <div class="foto-prin">
    <img src="./../../../assets/img/foto-prin.png" alt="foto-prin" class="responsive">
  </div>
  <div class="foto-secundaria_1">    
    <img src="./../../../assets/img/zooplus.png" alt="foto-prin" class="responsive">
  </div>
  <div class="foto-secundaria_2">
    <img src="./../../../assets/img/publi-info.png" alt="foto-prin" class="responsive">
  </div>
</div>
