.header-container {
  display: grid;

  grid-template-rows: repeat(3, max-content);
  grid-template-columns: repeat(4, 1fr);
  
}

.menu-container {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.form-container {
    grid-row: 1 / 2;
    grid-column: 2 / 4;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

    & form > mat-form-field {
      margin-right: 5px;
    }
    & form > button {
      align-self: baseline;
      margin-top: 5px;
      height: 30px;
    }
  }

  .container-flag {
    grid-row: 1 / 2;
    grid-column: 4 / -1;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;

    &_button-spain {
      background-image: url('./../../../assets/img/spain-flag-icon.jpg');
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    &_button-galicia {
      background-image: url('./../../../assets/img/galicia-flag.png');
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    & > button {
      margin: 5px;
    }
  }

.foto-prin {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}
.foto-secundaria_1 {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.foto-secundaria_2 {
  grid-row: 3 / 4;
  grid-column: 4 / 5;
}

.responsive {
  width: 100%;
}


::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}